<ul class='c-table'>
    {% for first in site.data.awards.first %}
        <li class='c-table__tbody'>
        <p class='company'><img src='{{ first.fav }}' class='c-page__favicon'>{{ first.company }}</p>
        <div class='brief'>
        <p class='c-page__role'>{{ first.title }}</p>
            <p class='c-page__keyword'>{{ first.keyword }}</p>
            <p class='date'>{{ first.date }}</p>
        </div>
        </li>
    {% endfor %}
    {% for second in site.data.awards.second %}
    <li class='c-table__tbody'>
    <p class='company'><img src='{{ second.fav }}' class='c-page__favicon'>{{ second.company }}</p>
    <div class='brief'>
    <p class='c-page__role'>{{ second.title }}</p>
        <p class='c-page__keyword'>{{ second.keyword }}</p>
        <p class='date'>{{ second.date }}</p>
    </div>
    </li>
    {% endfor %}
    {% for third in site.data.awards.third %}
    <li class='c-table__tbody'>
    <p class='company'><img src='{{ third.fav }}' class='c-page__favicon'>{{ third.company }}</p>
    <div class='brief'>
    <p class='c-page__role'>{{ third.title }}</p>
        <p class='c-page__keyword'>{{ third.keyword }}</p>
        <p class='date'>{{ third.date }}</p>
    </div>
    </li>
    {% endfor %}
</ul>