<ul class='c-table'>
    {% for first in site.data.careers.first %}
        <li class='c-table__tbody'>
        <p class='company'><img src='{{ first.fav }}' class='c-page__favicon'>{{ first.name }}</p>
        <div class='brief'>
        <p class='c-page__role'>{{ first.role }}</p>
            <p class='c-page__keyword c-content'>{{ first.keyword }}</p>
            <p class='date'>{{ first.date }}</p>
        </div>
        </li>
    {% endfor %}
    {% for second in site.data.careers.second %}
    <li class='c-table__tbody'>
    <p class='company'><img src='{{ second.fav }}' class='c-page__favicon'>{{ second.name }}</p>
    <div class='brief'>
    <p class='c-page__role'>{{ second.role }}</p>
        <p class='c-page__keyword c-content'>{{ second.keyword }}</p>
        <p class='date'>{{ second.date }}</p>
    </div>
    </li>
    {% endfor %}
    {% for third in site.data.careers.third %}
    <li class='c-table__tbody'>
    <p class='company'><img src='{{ third.fav }}' class='c-page__favicon'>{{ third.name }}</p>
    <div class='brief'>
    <p class='c-page__role'>{{ third.role }}</p>
        <p class='c-page__keyword c-content'>{{ third.keyword }}</p>
        <p class='date'>{{ third.date }}</p>
    </div>
    </li>
    {% endfor %}
    {% for fourth in site.data.careers.fourth %}
    <li class='c-table__tbody'>
    <p class='company'><img src='{{ fourth.fav }}' class='c-page__favicon'>{{ fourth.name }}</p>
    <div class='brief'>
    <p class='c-page__role'>{{ fourth.role }}</p>
        <p class='c-page__keyword c-content'>{{ fourth.keyword }}</p>
        <p class='date'>{{ fourth.date }}</p>
    </div>
    </li>
    {% endfor %}
</ul>