{% include encoding.html %}
<!-- 코드앤버터 -->
<script>
  (function (co, de, n, but, t, e, r) {
    !n[co] && (n[co] = function () {
      (n[co].q = n[co].q || []).push(arguments);
    }); e = t.createElement(but);
    e.async = true; e.src = de; r = t.getElementsByTagName(but)[0];
    r.parentNode.insertBefore(e, r);
  })("CodenButter", "https://buttr.dev/butter.js", window, "script", document);
  window.CodenButter("boot", { siteId: "euuatrfdvv", auto: true });
</script>
<!-- Channel Plugin Scripts -->
<script>
  /* 기본 변수 Declare */
  var channelUser = "";
  var defaultText = { "page": "http://dwmm.site/channel-test/", "url": "https://dwmm.site/channel-test/", "title": "채널 이벤트 테스트" };
  var date = new Date();
  var currentMonth = (function () {
    if (date.getMonth() + 1 < 10) {
      currentMonth = 0 + String(date.getMonth() + 1)
    } else {
      currentMonth = String(date.getMonth() + 1)
    }
    return currentMonth;
  })()
  var dateTime = String(date.getFullYear()) + currentMonth + String(date.getDate());

  (function () {
    var w = window;
    if (w.ChannelIO) {
      return (window.console.error || window.console.log || function () { })('ChannelIO script included twice.');
    }
    var ch = function () {
      ch.c(arguments);
    };
    ch.q = [];
    ch.c = function (args) {
      ch.q.push(args);
    };
    w.ChannelIO = ch;
    function l() {
      if (w.ChannelIOInitialized) {
        return;
      }
      w.ChannelIOInitialized = true;
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
      s.charset = 'UTF-8';
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    }
    if (document.readyState === 'complete') {
      l();
    } else if (window.attachEvent) {
      window.attachEvent('onload', l);
    } else {
      window.addEventListener('DOMContentLoaded', l, false);
      window.addEventListener('load', l, false);
    }
  })();
  ChannelIO('boot', {
    // "pluginKey": "8ae9b09a-9887-4957-96aa-b7f1ccba06b5" // prod b2b-designers (99498)
    "pluginKey": "58027b63-a130-492c-a9b9-55b89b3a3f08" // exp 라이언 신규 채널 22 (1252)
  }, function onBoot(error, user) {
    if (error) {
      console.error(error);
    } else {
      // console.log('boot success', user)
      channelUser = user;
    }
  });

  /* 이벤트 발생기 > 이벤트 종류 변경시 */
  let value, parent, children, childrenCount, channelEventTrackName, channelEventTrackProperty;
  
  function getEventType(channelEventType) {
    value = channelEventType.value;
    parent = channelEventType.parentElement;
    children = parent.children;
    childrenCount = parent.childElementCount;
    channelEventTrackName = document.getElementById("channelEventTrackName");
    channelEventTrackProperty = document.getElementById("channelEventTrackProperty");

    // 기존 input 삭제 트리거
    function removeChildren() {
      for (i = 2; i < childrenCount; i++) {
        children[2].remove();
      }
    }

    if (value == "custom") {

      // 기존 input 삭제
      if (channelEventTrackName || channelEventTrackProperty) {
        removeChildren()
      } else { }

      // 이벤트 발생기 > 커스텀 이벤트 템플릿 제공
      let channelCustomEventTemplate = document.createElement("select");
          channelCustomEventTemplate.setAttribute("name", "channelCustomEventTemplate");
          channelCustomEventTemplate.setAttribute("id", "channelCustomEventTemplate");
          channelCustomEventTemplate.setAttribute("onChange", "getCustomEventType(this)");
      let channelCustomEventTemplateOption1 = document.createElement("option");
          channelCustomEventTemplateOption1.setAttribute("value", "placeholder");
          channelCustomEventTemplateOption1.innerText = "직접 입력"
      let channelCustomEventTemplateOption2 = document.createElement("option");
          channelCustomEventTemplateOption2.setAttribute("value", "AchieveOperationGoal");
          channelCustomEventTemplateOption2.innerText = "오퍼레이션 목표 달성"
      let channelCustomEventTemplateOption3 = document.createElement("option");
          channelCustomEventTemplateOption3.setAttribute("value", "AcieveMarketingGoal");
          channelCustomEventTemplateOption3.innerText = "마케팅 목표 달성"
      let channelCustomEventTemplateOption4 = document.createElement("option");
          channelCustomEventTemplateOption4.setAttribute("value", "CheckoutComplete");
          channelCustomEventTemplateOption4.innerText = "체크아웃 완료"
      let channelCustomEventTemplateOption5 = document.createElement("option");
          channelCustomEventTemplateOption5.setAttribute("value", "Purchase");
          channelCustomEventTemplateOption5.innerText = "구매"
          channelCustomEventTemplate.appendChild(channelCustomEventTemplateOption1);
          channelCustomEventTemplate.appendChild(channelCustomEventTemplateOption2);
          channelCustomEventTemplate.appendChild(channelCustomEventTemplateOption3);
          channelCustomEventTemplate.appendChild(channelCustomEventTemplateOption4);
          channelCustomEventTemplate.appendChild(channelCustomEventTemplateOption5);
      parent.appendChild(channelCustomEventTemplate);

      channelEventTrackName = document.createElement("input");
      channelEventTrackName.setAttribute("type", "text");
      channelEventTrackName.setAttribute("id", "channelEventTrackName");
      channelEventTrackName.setAttribute("maxlength", "30");
      channelEventTrackName.setAttribute("placeholder", "이벤트 이름. 30자 이하여야 함");
      channelEventTrackProperty = document.createElement("textarea");
      channelEventTrackProperty.setAttribute("id", "channelEventTrackProperty");
      channelEventTrackProperty.setAttribute("rows", "10");
      channelEventTrackProperty.setAttribute("style", "resize: vertical");
      channelEventTrackProperty.setAttribute("placeholder", "{key: value}로 구성된 object. key와 value는 쌍따옴표로 묶여야 함");
      channelEventTrackProperty.value = JSON.stringify(defaultText);
      parent.appendChild(channelEventTrackName);
      parent.appendChild(channelEventTrackProperty);
    }
    else if (value == "addTags" || value == "removeTags") {

      // 기존 input 삭제
      if (channelEventTrackName || channelEventTrackProperty) {
        removeChildren()
      } else { }

      channelEventTrackProperty = document.createElement("textarea");
      channelEventTrackProperty.setAttribute("id", "channelEventTrackProperty");
      channelEventTrackProperty.setAttribute("rows", "6");
      channelEventTrackProperty.setAttribute("style", "resize: vertical");
      channelEventTrackProperty.setAttribute("placeholder", "추가 혹은 제거할 태그의 [Array]. 비어있으면 안됨. 각 태그는 쌍따옴표로 감싸야 함");
      parent.appendChild(channelEventTrackProperty);

    }
    else {
      // 기존 input 삭제
      if (channelEventTrackName || channelEventTrackProperty) {
        removeChildren()
      } else { }

      channelEventTrackName = document.getElementById("channelEventTrackName");
      channelEventTrackProperty = document.getElementById("channelEventTrackProperty");
    }
  }

  /* 커스텀 이벤트 템플릿 변경 */
  function getCustomEventType(channelCustomEventType) {
    let value = channelCustomEventType.value;

    if (value == "placeholder") {
      let channelEventTrackName = document.getElementById("channelEventTrackName");
      channelEventTrackName.value = ""
      let eventProperty = document.getElementById("channelEventTrackProperty");
          eventProperty.value = JSON.stringify(defaultText);
    } else if (value == "AchieveOperationGoal") {
      let channelEventTrackName = document.getElementById("channelEventTrackName");
          channelEventTrackName.value = "AchieveOperationGoal"
      let eventProperty = document.getElementById("channelEventTrackProperty");
      let propertyToApply = { "page": "http://dwmm.site/channel-test/", "url": "https://dwmm.site/channel-test/", "title": "채널 이벤트 테스트", "goal_value": "StartTrial" };
          eventProperty.value = JSON.stringify(propertyToApply);
    } else if (value == "AcieveMarketingGoal") {
      let channelEventTrackName = document.getElementById("channelEventTrackName");
          channelEventTrackName.value = "AcieveMarketingGoal"
      let eventProperty = document.getElementById("channelEventTrackProperty");
      let propertyToApply = { "page": "http://dwmm.site/channel-test/", "url": "https://dwmm.site/channel-test/", "title": "채널 이벤트 테스트", "goal_value": "CompleteCheckOut" };
      eventProperty.value = JSON.stringify(propertyToApply);
    } else if (value == "CheckoutComplete") {
      let channelEventTrackName = document.getElementById("channelEventTrackName");
          channelEventTrackName.value = "CheckoutComplete"
      let eventProperty = document.getElementById("channelEventTrackProperty");
      let propertyToApply = { "page": "http://dwmm.site/channel-test/", "url": "https://dwmm.site/channel-test/", "title": "채널 이벤트 테스트", "id": dateTime + "-001", "totalAmount": 20000, "shippingAmount": 2500, "products": [{ "id": "001", "name": "2021 연봉설문", "quantity": 1, "amount": 10000 }, { "id": "002", "name": "2022 연봉설문", "quantity": 1, "amount": 10000 }] };
          eventProperty.value = JSON.stringify(propertyToApply);
    } else if (value == "Purchase") {
      let channelEventTrackName = document.getElementById("channelEventTrackName");
          channelEventTrackName.value = "Purchase"
      let eventProperty = document.getElementById("channelEventTrackProperty");
      let propertyToApply = { "page": "http://dwmm.site/channel-test/", "url": "https://dwmm.site/channel-test/", "title": "채널 이벤트 테스트", "id": dateTime + "-001", "totalAmount": 20000, "shippingAmount": 2500, "products": [{ "id": "001", "name": "2021 연봉설문", "quantity": 1, "amount": 10000 }, { "id": "002", "name": "2022 연봉설문", "quantity": 1, "amount": 10000 }] };
          eventProperty.value = JSON.stringify(propertyToApply);
    } else { }

  }

  /* 스낵바 피드백 */
  function snackbarValue() {
    var value = channelEventType.value;
    var snackbar = document.getElementById("snackbar-top");
    snackbar.innerText = value + ' 이벤트가 발생되었습니다';
    snackbar.className = "show";
    setTimeout(function () { snackbar.className = snackbar.className.replace("show", "") }, 2200);
  }

  function snackbarEventName() {
    var eventName = document.getElementById("channelEventTrackName").value;
    var snackbar = document.getElementById("snackbar-top");
    snackbar.innerText = eventName + ' 이벤트가 발생되었습니다';
    snackbar.className = "show";
    setTimeout(function () { snackbar.className = snackbar.className.replace("show", "") }, 2200);
  }

  function snackbarPropertyUpdate(x, y) {
    let updatedProperties = "";
    if (x && y) {
      updatedProperties = x + ", " + y;
    } else {
      updatedProperties = x || y;
    }
    let snackbar = document.getElementById("snackbar-top");
    snackbar.innerText = updatedProperties + ' 프로퍼티가 업데이트되었습니다';
    snackbar.className = "show";
    setTimeout(function () { snackbar.className = snackbar.className.replace("show", "") }, 2200);
  }

  /* 이벤트 발생기 */
  function trackChannelEvent() {
    const value = document.getElementById("channelEventType").value;

    // custom 이벤트
    if (value == "custom") {
      let channelEventTrackName = document.getElementById("channelEventTrackName");
      let eventName = document.getElementById("channelEventTrackName").value;
      let eventProperty = JSON.parse(document.getElementById("channelEventTrackProperty").value);
      if (channelEventTrackName.value == "AcieveMarketingGoal") {
        date = new Date();
        ChannelIO("track", eventName, eventProperty);
        ChannelIO("updateUser", {
          profile: {
            lastCheckoutCompletedAt: date
          }
        });
      } else {
        ChannelIO("track", eventName, eventProperty);
        // amount에 구매금액을 넣어주세요
        CodenButter("event", {
          name: "goal|purchase", revenue: { amount: eventProperty.totalAmount }
        });
      }
      // 스낵바 피드백
      snackbarEventName();
    }

    // addTags 이벤트
    else if (value == "addTags") {
      let eventProperty = JSON.parse(document.getElementById("channelEventTrackProperty").value);
      ChannelIO("addTags", eventProperty, function onAddTags(error, user) {
        if (error) {
          console.error(error)
        } else {
          console.log("addTags success", user)
        }
      });
      // 스낵바 피드백
      snackbarValue();
    }

    // removeTags 이벤트
    else if (value == "removeTags") {
      let eventProperty = JSON.parse(document.getElementById("channelEventTrackProperty").value);
      ChannelIO("removeTags", eventProperty, function onRemoveTags(error, user) {
        if (error) {
          console.error(error)
        } else {
          console.log("removeTags success", user)
        }
      });
      // 스낵바 피드백
      snackbarValue();
    }

    // 이외 전체 이벤트
    else {
      ChannelIO(value);
      // 스낵바 피드백
      snackbarValue();
    }
  }

  /* 프로퍼티 발생 */

  // user 키 추가
  function getChannelUserKeys() {
    var userKeys = Object.keys(channelUser).sort();
    var userProfileFormParent = document.getElementById("propertyForm");
    if (channelUser.profile != null) {
      var userProfileKeys = Object.keys(channelUser.profile).sort();
    } else {
      var userProfileKeys = [];
    }
    // select 및 option 추가
    let channelUserKeys = document.createElement("select");
    channelUserKeys.setAttribute("name", "channelUserKeys");
    channelUserKeys.setAttribute("id", "channelUserKeys");
    channelUserKeys.setAttribute("onChange", "getUserKey(this)");
    for (let i = 0; i < userKeys.length; i++) {
      let channelUserKeyOption = document.createElement("option");
          channelUserKeyOption.setAttribute("value", userKeys[i]);
          channelUserKeyOption.innerText = userKeys[i];
          channelUserKeys.appendChild(channelUserKeyOption);
    }
    // 직접 입력 user.key 옵션 추가
    channelUserKeyOptionCustom = document.createElement("option");
    channelUserKeyOptionCustom.setAttribute("value", "직접 입력");
    channelUserKeyOptionCustom.innerText = "직접 입력";
    channelUserKeys.appendChild(channelUserKeyOptionCustom);

    userProfileFormParent.append(channelUserKeys);
    
    // user.key 직접 입력용 input 추가
    let directInputField = document.createElement("input");
        directInputField.setAttribute("type", "text");
        directInputField.setAttribute("id", "channelUserKeyCustom");
        directInputField.setAttribute("placeholder", "key를 입력하세요");
        directInputField.style.display = "none"
      userProfileFormParent.append(directInputField);

    // 값 input 추가
    let channelUserKeyValue = document.createElement("input");
        channelUserKeyValue.setAttribute("type", "text");
        channelUserKeyValue.setAttribute("id", "channelUserKeyValue");
        channelUserKeyValue.setAttribute("placeholder", "값을 입력하세요");
      userProfileFormParent.append(channelUserKeyValue);
    // 하단에 구분자 추가
    let border = document.createElement("hr");
        border.style.margin = "6px 0";
    userProfileFormParent.append(border);
  }

  // user.profile 키 추가
  function getChannelUserProfileKeys() {
    let userKeys = Object.keys(channelUser).sort();
    let userProfileFormParent = document.getElementById("propertyForm");
    if (channelUser.profile != null) {
      var userProfileKeys = Object.keys(channelUser.profile).sort();
      // select 및 option 추가
      let channelUserProfileKeys = document.createElement("select");
      channelUserProfileKeys.setAttribute("name", "channelUserProfileKeys");
      channelUserProfileKeys.setAttribute("id", "channelUserProfileKeys");
      channelUserProfileKeys.setAttribute("onChange", "getUserProfileKey(this)");
      for (let i = 0; i < userProfileKeys.length; i++) {
        let channelUserProfileKeyOption = document.createElement("option");
        channelUserProfileKeyOption.setAttribute("value", userProfileKeys[i]);
        channelUserProfileKeyOption.innerText = userProfileKeys[i];
        channelUserProfileKeys.appendChild(channelUserProfileKeyOption);
      }
       // 커스텀 user.key 필드 추가
      channelUserProfileKeyOptionCustom = document.createElement("option");
      channelUserProfileKeyOptionCustom.setAttribute("value", "직접 입력");
      channelUserProfileKeyOptionCustom.innerText = "직접 입력";
      channelUserProfileKeys.appendChild(channelUserProfileKeyOptionCustom);
      
      userProfileFormParent.append(channelUserProfileKeys);

      // user.profile.key 직접 입력용 input 추가
      let directInputField = document.createElement("input");
          directInputField.setAttribute("type", "text");
          directInputField.setAttribute("id", "channelUserProfileKeyCustom");
          directInputField.setAttribute("placeholder", "profile.key를 입력하세요");
          directInputField.style.display = "none"
          userProfileFormParent.append(directInputField);
    } else {
      var userProfileKeys = [];
      // user.profile.key 직접 입력 옵션 추가
      let channelUserProfileKeyOptionCustom = document.createElement("option");
          channelUserProfileKeyOptionCustom.setAttribute("value", "직접 입력");
          channelUserProfileKeyOptionCustom.innerText = "직접 입력";
          channelUserProfileKeys.appendChild(channelUserProfileKeyOptionCustom);
      // user.profile.key 직접 입력용 input 추가
      let directInputField = document.createElement("input");
          directInputField.setAttribute("type", "text");
          directInputField.setAttribute("id", "channelUserProfileKeyCustom");
          directInputField.setAttribute("placeholder", "profile.key를 입력하세요");
          directInputField.style.display = "none"
          userProfileFormParent.append(directInputField);
    }
    // 값 input 추가
    let channelUserProfileKeyValue = document.createElement("input");
    channelUserProfileKeyValue.setAttribute("type", "text");
    channelUserProfileKeyValue.setAttribute("id", "channelUserProfileKeyValue");
    channelUserProfileKeyValue.setAttribute("placeholder", "값을 입력하세요");
    userProfileFormParent.append(channelUserProfileKeyValue);
  }

  // 최초 프로퍼티 불러오기
  function getUserPropertyKeys() {
    getChannelUserKeys();
    getChannelUserProfileKeys();
    document.getElementById("getUserPropertyKeys").remove();
  }

  /* 프로퍼티 리스트 onChange()시 */
  function getUserKey(channelUserKey) {
    let value = channelUserKey.value;
    if (value == "직접 입력") {
      // 직접 입력일 경우 직접 입력용 input 표시
      document.getElementById("channelUserKeyCustom").style.display = "block";
    } else {
      // 직접 입력이 아닐 경우 직접 입력 input 제거
      document.getElementById("channelUserKeyCustom").style.display = "none";
    }
  }
  function getUserProfileKey(channelUserProfileKey) {
    let value = channelUserProfileKey.value;
    if (value == "직접 입력") {
      // 직접 입력일 경우 직접 입력용 input 표시
      document.getElementById("channelUserProfileKeyCustom").style.display = "block";
    } else {
      // 직접 입력이 아닐 경우 직접 입력 input 제거
      document.getElementById("channelUserProfileKeyCustom").style.display = "none";
    }
  }

  /* 유저 업데이트 */
  let userObject = {};
  let userKey = "";
  let userKeyCustom = "";
  let userKeyValue = "";
  let userProfileKey = "";
  let userProfileKeyCustom = "";
  let userProfileKeyValue = "";
  let snackbar_x = "";
  let snackbar_y = "";

  function updateChannelProperty() {
    userObject = {}; // userObject 초기화
    userKey = document.getElementById("channelUserKeys").value;
    userKeyCustom = document.getElementById("channelUserKeyCustom").value;
    userKeyValue = document.getElementById("channelUserKeyValue").value;
    userProfileKey = document.getElementById("channelUserProfileKeys").value;
    userProfileKeyValue = document.getElementById("channelUserProfileKeyValue").value;
    userProfileKeyCustom = document.getElementById("channelUserProfileKeyCustom").value;
    
    if (!userKeyValue) {
      // user key 의 값이 비어있을 때 사용하지 않음
      snackbar_x = "";
    } else {
      if (userKey == "직접 입력"){
        userObject[userKeyCustom] = userKeyValue;
        snackbar_x = userKeyCustom;
      } else {
        userObject[userKey] = userKeyValue;
        snackbar_x = userKey;
      }
    }
    if (!userProfileKeyCustom || !userProfileKeyValue) {
    // user profile key 값 혹은 value가 비어있을 때 사용하지 않음
    snackbar_y = "";
    } else {
      if (!userObject.profile) {
        userObject.profile = {};
      }
      if (userProfileKey == "직접 입력"){
        userObject.profile[userProfileKeyCustom] = userProfileKeyValue;
        snackbar_y = userProfileKeyCustom;
      } else {
      userObject.profile[userProfileKey] = userProfileKeyValue;
      snackbar_y = userProfileKey;
      }
    }
    ChannelIO('updateUser', userObject, function onUpdateUser(error, user) {
      if (error) {
        console.error(error);
      } else {
        console.log('updateUser success', user);
      }
    });
    
    // 스낵바 피드백
    snackbarPropertyUpdate(snackbar_x, snackbar_y);
  };
  

  /* 참고 레퍼런스
  function submitApplication() {
      const inputName = document.getElementById("event-1").value;
      const inputImage = document.getElementById("event-2").files[0];
      const imageUrl = window.URL.createObjectURL(inputImage);
      const profileImg = new FormData();
            profileImg.append("profileImg", inputImage);
      const inputCompany = document.getElementById("event-3").value;
      const inputProduct = document.getElementById("event-4").value;
      const inputRole = document.getElementById("event-5").value;
      const inputIntro = document.getElementById("event-6").value;
      const inputLink1 = document.getElementById("event-7").value;
      const inputLink2 = document.getElementById("event-8").value;
      const inputLink3 = document.getElementById("event-9").value;
      const inputContact = document.getElementById("event-10").value;
      const applyForManager = document.getElementById("event-11-yes").checked;
      const inputApplication = document.getElementById("event-11-1").value;
      const inputComment = document.getElementById("event-12").value;
      const isPublic = document.getElementById("event-13-yes").checked;
      const personalInformation = document.getElementById("event-14-yes").checked;
      const dateTime = new Date();
      let fullDate = dateTime.toISOString().slice(0,10);
      let fullTime = dateTime.toISOString().slice(11,19);
      const currentDatetime = fullDate + " " + fullTime;

      var record = {
          "records": [
              {
                  "fields": {
                      "Name": inputName,
                      "Profile_Picture": imageUrl,
                      "Company": inputCompany,
                      "Product": inputProduct,
                      "Role": inputRole,
                      "Intro": inputIntro,
                      "Link1": inputLink1,
                      "Link2": inputLink2,
                      "Link3": inputLink3,
                      "Contact": inputContact,
                      "Apply_for_Manager": applyForManager,
                      "Reason_for_Application": inputApplication,
                      "Comments": inputComment,
                      "Public": isPublic,
                      "Personal_Information": personalInformation,
                      "Enrolled_Date": currentDatetime
                  }
              }
          ]
      };
    };
  */
</script>