<ul class='hustle c-table c-content'>
    {% for first in site.data.hustle.first %}
    <li class='hustle__list'>
      <div class='hustle__img'>
        <img src='{{ first.img }}'>
      </div>
      <div class='brief'>
        <p class='hustle__name'><a href='{{ first.link }}' target='blank' ref='nofollow' id='hustle1' onclick='clickedOutlink(hustle1)'>{{ first.name }}</a></p>
        <p class='c-page__keyword c-content'>{{ first.description }}</p>
        <p class='date'>{{ first.date }}</p>
      </div>
    </li>
    {% endfor %}
    {% for first in site.data.hustle.second %}
    <li class='hustle__list'>
      <div class='hustle__img'>
        <img src='{{ first.img }}'>
      </div>
      <div class='brief'>
        <p class='hustle__name'><a href='{{ first.link }}' target='blank' ref='nofollow' id='hustle2' onclick='clickedOutlink(hustle2)'>{{ first.name }}</a></p>
        <p class='c-page__keyword c-content'>{{ first.description }}</p>
        <p class='date'>{{ first.date }}</p>
      </div>
    </li>
    {% endfor %}
    {% for first in site.data.hustle.third %}
    <li class='hustle__list'>
      <div class='hustle__img'>
        <img src='{{ first.img }}'>
      </div>
      <div class='brief'>
        <p class='hustle__name'><a href='{{ first.link }}' target='blank' ref='nofollow' id='hustle3' onclick='clickedOutlink(hustle3)'>{{ first.name }}</a></p>
        <p class='c-page__keyword c-content'>{{ first.description }}</p>
        <p class='date'>{{ first.date }}</p>
      </div>
    </li>
    {% endfor %}
    {% for first in site.data.hustle.fourth %}
    <li class='hustle__list'>
      <div class='hustle__img'>
        <img src='{{ first.img }}'>
      </div>
      <div class='brief'>
        <p class='hustle__name'><a href='{{ first.link }}' target='blank' ref='nofollow' id='hustle4' onclick='clickedOutlink(hustle4)'>{{ first.name }}</a></p>
        <p class='c-page__keyword c-content'>{{ first.description }}</p>
        <p class='date'>{{ first.date }}</p>
      </div>
    </li>
    {% endfor %}
    {% for first in site.data.hustle.fifth %}
    <li class='hustle__list'>
      <div class='hustle__img'>
        <img src='{{ first.img }}'>
      </div>
      <div class='brief'>
        <p class='hustle__name'><a href='{{ first.link }}' target='blank' ref='nofollow' id='hustle5' onclick='clickedOutlink(hustle5)'>{{ first.name }}</a></p>
        <p class='c-page__keyword c-content'>{{ first.description }}</p>
        <p class='date'>{{ first.date }}</p>
      </div>
    </li>
    {% endfor %}
    {% for first in site.data.hustle.sixth %}
    <li class='hustle__list'>
      <div class='hustle__img'>
        <img src='{{ first.img }}'>
      </div>
      <div class='brief'>
        <p class='hustle__name'><a href='{{ first.link }}' target='blank' ref='nofollow' id='hustle6' onclick='clickedOutlink(hustle6)'>{{ first.name }}</a></p>
        <p class='c-page__keyword c-content'>{{ first.description }}</p>
        <p class='date'>{{ first.date }}</p>
      </div>
    </li>
    {% endfor %}
  </ul>