{% assign current = page.url | downcase | split: '/' %} 
  <li role='presentation'>
    <a href='{{ '' | prepend: site.baseurl }}/' {% if current.size == 0 %} class="c-nav__link active" {% endif %} class="c-nav__link normal">Home</a>
    </li>
  <li role='presentation'>
    <a href='{{ '/project' | prepend: site.baseurl }}' {% if current[1] == "project" %} class="c-nav__link active"{% endif %} class="c-nav__link normal">Project</a>
  </li>
  <li role='presentation'>
    <a href='{{ '/blog' | prepend: site.baseurl }}' {% if current[1] == "blog" %} class="c-nav__link active"{% endif %} class="c-nav__link normal">Blog</a>
  </li>
  <li role='presentation'>
    <a href='{{ '/article' | prepend: site.baseurl }}' {% if current[1] == "article" %} class="c-nav__link active"{% endif %} class="c-nav__link normal">Article Summary</a>
  </li>
  <li role='presentation'>
    <a href='{{ '/about' | prepend: site.baseurl }}' {% if current[1] == "about" %} class="c-nav__link active"{% endif %} class="c-nav__link normal">About</a>
  </li>