<li {% if page.draft==true %} class="c-list__item draft" {% else %} class="c-list__item" {% endif %}>
    <a href="{{ page.url | prepend: site.baseurl }}">
        <div class="c-list__info">
            {% if page.is_list-img == true %}
                {% if page.list-img == nil -%}
                    {% if page.article == true -%}
                        <img src="../images/daily-article.png" class="c-list__img" alt='{{ post.title }}'>
                    {% endif -%}
                {% else %}
                    <img src="{{ page.list-img }}" class="c-list__img" alt='{{ post.title }}'>
                {% endif -%}
            {% endif %}
            <p class="c-list__type">
                {{ page.type | upcase }}
            </p>
            <h1 class="c-list__title">
                {{ page.title }}
            </h1>
            <p class="c-list__sub">
                {{ page.subtitle }}
            </p>
            {% if page.draft == true %}
                <span class="c-list__tag">
                        Coming Soon
                    </span> {% else %}
                <p class="c-list__body">
                    {{ page.content | markdownify | strip_html | truncatewords: 70 }}
                </p>
                <time class='c-list__date' datetime='{{ page.date | date_to_xmlschema }}' itemprop='datePublished'>{{ page.date | date: '%d %b %Y' }}</time>
            {% endif %}
        </div>
    </a>
</li>