<li {% if page.draft == true %} class="c-list__item draft" {% else %} class="c-list__item" {% endif %}>
    <a href="{{ page.url | prepend: site.baseurl }}" >
        {% if page.list-img %}
            <img src="{{ page.list-img }}" class="c-list__img" alt='{{ post.title }}'>
        {% endif %}
        <div class="c-list__info">
            <p class="c-list__type">
                {{ page.type | upcase }}
            </p>
            <h1 class="c-list__title">
                {{ page.title }}
            </h1>
            <p class="c-list__sub">
                {{ page.subtitle }}
            </p>
            {% if page.draft == true %}
                <span class="c-list__tag">
                    Coming Soon
                </span>
            {% else %}
                <p class="c-list__body">
                    {{ page.content | truncatewords: 40 | strip_html }}
                </p>
                <time class='c-list__date' datetime='{{ page.date | date_to_xmlschema }}' itemprop='datePublished'>{{ page.date | date: '%d %b %Y' }}</time>
            {% endif %}
        </div>
    </a>
</li>