{% include encoding.html %}
<script>

/*                               */ 

function createModal(url) {
    // var modalBackground = document.createElement("div");
    // modalBackground.setAttribute("id", "modalBackground");
    // modalBackground.setAttribute("class", "modal__background");
    // modalBackground.setAttribute("onclick", "closeModal()");
    // document.body.appendChild(modalBackground);
    // console.log(url);
    var modalCloseButton = document.createElement("div");
    modalCloseButton.setAttribute("id", "modalCloseButton");
    modalCloseButton.setAttribute("class", "modal__closeButton");
    modalCloseButton.setAttribute("onclick", "closeModal()");
    document.body.appendChild(modalCloseButton);
    
    var modalContainer = document.createElement("div");
    modalContainer.setAttribute("id", "modalContainer");
    modalContainer.setAttribute("class", "modal__container");
    document.body.appendChild(modalContainer);
    
    var modal = document.createElement("iframe");
    modal.setAttribute("src", url);
    modal.setAttribute("class", "modal__content");
    
    document.getElementById("modalContainer").appendChild(modal);
}

function closeModal() {
    // var mbg = document.getElementById("modalBackground");
    var mc = document.getElementById("modalContainer");
    var mcb = document.getElementById("modalCloseButton");
    // mbg.remove();
    mc.remove();
    mcb.remove();
}

function verification(url) {
    var pathName = document.location.pathname;
    var input = document.getElementById('passwordInput').value;
    var encodedPassword = SHA256(input);
    console.log(encodedPassword);
    var pass1 = '41dd0a5e6f3e15a19eb1dcf9f985cf342557ed34d3c0bf19dd07eeff766a8a5d'; // master
    var pass2 = '7634aeb9648248f6e3d8a2f7166a872f884a6cbce346d52bfcbff5357ee01c29';
    var pass3 = '1f56e977ebd0f48a1035c6474d713ba2b87294a779a37b7dff946a3c4a666eab';
    var pass4 = '8d2e298c56050233da3013ddb6c750e71c0588931bd7b7779e630745c6828db4';

    if (encodedPassword && (
        (encodedPassword == pass1) || 
        (encodedPassword == pass2 && pathName == '/b2b-designers/kakao-survey-2021/') || 
        (encodedPassword == pass3 &&  pathName == '/b2b-designers/salary-survey-2022/') || 
        (encodedPassword == pass4 &&  pathName == '/b2b-designers/salary-survey-202301/'))
        ) {
        createModal(url);
    }
    else {
        // var input = document.getElementById('passwordInput');
        // input.setAttribute('class', 'error')
        var snackbar = document.getElementById('snackbar-bottom');
        snackbar.className = 'show';
        setTimeout(function(){snackbar.className = snackbar.className.replace('show', '')}, 1800);
        
        var passwordInput = document.getElementById("passwordInput");
        passwordInput.select();
        passwordInput.setSelectionRange(0, 99999); /*For mobile devices*/
    }
}

// Enter 누를 때 verification() 실행
function handler(event) {
    var keyStroke = event.key;
    if (keyStroke == 'Enter') {
        var url = document.getElementById("passwordSubmit").getAttribute("onclick").split("'")[1]
        verification(url);
    }
}
// survey 화면에서만 동작
window.addEventListener('DOMContentLoaded', (event) => {
    if (document.location.pathname.indexOf('survey')>=1){
        document.getElementById('passwordInput').addEventListener('keydown', handler);
    }
    else {};
});
</script>