/*------------------------------------*\
  Objects > Plain List
\*------------------------------------*/

.o-plain-list {
  margin: $base-spacing-unit, 0px, 0px, 0px;
  padding: 0;
  list-style: none;
}