// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

// Colors
$color-brand: #605AF2;
$color-key:   #4139EF;
$color-white: #FFFFFF;
$color-text:  #1B2528;
$color-gray:  #77868B;
$color-gray-100: #D7DEE1;

// Background Colors
$bg-color-white: $color-white;
$bg-color-dark:  #0A0A0A;
$bg-color-gray:  #FAFAFA;
$bg-color-code:  #F9F8Fa;

// Border
$color-border: #F1F3F6;

// Links
$color-link:        $color-text;
$color-link-hover:  $color-brand;