// *----------------------------------*\
//  Settings > Type
// *----------------------------------*/

/*font-face {
  font-family: 'Noto Sans CJK KR', 'Montserrat';
  src: url(source/font/) format('opentype');
}

@font-face {
  font-family: 'IBM Plex Mono', 'Noto Sans Mono CJK KR';
  src: url(source/font/) format('opentype');
}
*/
$font-base:
  -apple-system,
  BlinkMacSystemFont,
  //'Noto Sans CJK KR',
  //'Montserrat'
  //'Segoe UI',
  'Work Sans',
  Helvetica,
  Arial,
  sans-serif,
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol';
$font-monospace: 'Fira Mono', monospace;

$font-size-header: 19px;
$font-size-base:   16px;
$font-size-medium: 14px;
$font-size-small:  12px;
$font-size-tiny:   11px;

$font-weight-light:   300;
$font-weight-regular: 400;
$font-weight-bold:    600;
$font-weight-bolder:  900;

$line-height-header: round($font-size-header * 1.7);
$line-height-base:   round($font-size-base   *  1.7);
$line-height-medium: round($font-size-medium * 1.55);
$line-height-small:  round($font-size-small  * 1.55);
$line-height-tiny:   round($font-size-tiny   * 1.55);