// *----------------------------------*\
//  Settings > Type
// *----------------------------------*/

@font-face {
  font-family: 'Noto Sans CJK KR', 'Montserrat';
  src: url(source/font/) format('opentype');
}

$font-base:
  //-apple-system,
  //BlinkMacSystemFont,
  'Noto Sans CJK KR',
  'Montserrat'
  'Segoe UI',
  Helvetica,
  Arial,
  sans-serif,
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol';
$font-monospace:  Courier, monospace;

$font-size-base:   14px;
$font-size-medium: 12px;
$font-size-small:  11px;
$font-size-tiny:   10px;

$font-weight-light:   300;
$font-weight-regular: 400;
$font-weight-bold:    600;
$font-weight-bolder:  900;

$line-height-base:   round($font-size-base   *  1.7);
$line-height-medium: round($font-size-medium * 1.55);
$line-height-small:  round($font-size-small  * 1.55);
$line-height-tiny:   round($font-size-tiny   * 1.55);