/*------------------------------------*\
  Elements > Blockquote
\*------------------------------------*/

blockquote {
  padding-left: $base-spacing-unit;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 2px solid $color-key;

  p {
    margin-bottom: 0px;
  }
}