/*------------------------------------*\
  Elements > code & pre
\*------------------------------------*/

pre,
code {
  font-family: $font-monospace;
  background-color: $bg-color-code;
  color: $color-key;
  border-radius: 3px;
}

pre {
  overflow: auto;
  padding: $base-spacing-unit;
  margin-bottom: double($base-spacing-unit);
  font-size: $font-size-medium;
  line-height: $line-height-medium;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

li code,
p code { padding: quarter($base-spacing-unit) half($base-spacing-unit); }