/*------------------------------------*\
  Elements > connect-180
\*------------------------------------*/

form {
    display: flex;
    margin-bottom: $base-spacing-unit;
    width: 100%;
}

#long_url {
    margin-right: $base-spacing-unit;
    height: 29px;
    padding: 8px;
}

#submit {
    font-size: 13px;
    background-color: $color-brand;
    color: $color-white;
    border-radius: 3px;
    border: none;
    min-width: 90px;
    margin-left:2px;
}


#___gcse_0 {
    width: 100%;

    .gsc-input {
        height: 29px;

        table {
            margin-bottom: 0 !important;
        }

        .gsib_a {
            line-height: 14px;
        }
    }

    td {
        line-height: 14px;
    }
}

.gsc-control-cse {
    margin-bottom: $base-spacing-unit;
    padding: 0px !important;
}

.gsc-search-box-tools {
    margin: 0px !important;
}

.gsc-results-wrapper-nooverlay {
    .gs-image-box {
        margin: 2px 10px 2px 0 !important;
        width: 100px;

        img {
            display: inline-block;
            max-width: 100px;
            max-height: 100px;
        }
    }
}

.surit-io {
    width: 100%;
    height: 95vh;
    border: none;
}