/*------------------------------------*\
  Elements > connect-180
\*------------------------------------*/

#___gcse_0 {
    width: 100%;

    .gsc-input {
        height: 29px;

        table {
            margin-bottom: 0 !important;
        }

        .gsib_a {
            line-height: 14px;
        }
    }

    td {
        line-height: 14px;
    }
}

.gsc-results-wrapper-nooverlay {
    .gs-image-box {
        margin: 2px 10px 2px 0 !important;
        width: 100px;

        img {
            display: inline-block;
            max-width: 100px;
            max-height: 100px;
        }
    }
}

.surit-io {
    width: 100%;
    height: 95vh;
}