/*------------------------------------*\
  Elements > Modal
\*------------------------------------*/

.modal {
  &-open {
    overflow: hidden;
  }
  
  transition: all ease .2s;

  &__background {
    position: absolute;
    z-index: 998;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .5;
  }

  &__closeButton {
    position: absolute;
    z-index: 1001;
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.8);
    top: 10px;
    left: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 6 6 18M6 6l12 12' stroke='%235c6bf3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
  }

  &__container {
    position: absolute;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // border-radius: 10px;
  }

  &__content {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;

    &__img {
      z-index: 1000;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-height: 700px;
      cursor: zoom-out;
      background-color: $color-white;
    }
  }
}

.m-wrapper {
  &__row {
    display: flex;
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translate(0, -50%);
    gap: 20px;
  }
}

.m-center {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-65%);
  width: 300px;
}

.m-left {
  display: flex;
  flex-direction: column;
  gap:14px;
  padding: 20px;
  background: $color-white;
  box-shadow: 0 16px 32px rgba(0,0,0,0.08);
  border-radius: 12px;
  width: 300px;
  
  .button {
    margin: auto auto 0 auto;
  }
}

#passwordInput {
  height: 44px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 2px 10px;
  font-size: $font-size-medium;
}

#passwordSubmit {
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  background-color: $color-brand;
  color: $color-white;
  border-radius: 3px;
  border: none;
  min-width: 90px;
  min-height: 50px;
  
  &:active {
    opacity: .8;
  }
}

.survey {
  &-title {
    font-weight: $font-weight-bold;
    font-size: 24px;
    align-self: center;
    width: max-content;
    margin-bottom: 10px;
  }
  &-image {
    height: 280px;
    object-fit: cover;
  }
}

#snackbar {
  &-bottom {
    visibility: hidden;
    position: fixed;
    min-width: 200px;
    min-height: 40px;
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;
    padding: 0 12px;
    background-color: rgba(0, 0, 0, 0.65);
    color: $color-white;
    text-align: center;
    border-radius: 6px;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 10%;
    
    &.show {
      visibility: visible;
      -webkit-animation: fadein 0.3s, fadeout 0.3s 1.5s !important;
      animation: fadein 0.3s, fadeout 0.3s 1.5s !important;
    }
  }

  &-top {
    visibility: hidden;
    position: fixed;
    min-width: 200px;
    min-height: 40px;
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;
    padding: 0 12px;
    background-color: rgba(0, 0, 0, 0.65);
    color: $color-white;
    text-align: center;
    border-radius: 6px;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, 0);
    top: 10%;

    &.show {
        visibility: visible;
        -webkit-animation: fadein-top 0.3s, fadeout-top 0.3s 2s !important;
        animation: fadein-top 0.3s, fadeout-top 0.3s 2s !important;
    }
  }
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 10%; opacity: 1;}
}
@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 10%; opacity: 1;}
}
@-webkit-keyframes fadeout {
  from {top: 10%; opacity: 1;}
  to {top: 0; opacity: 0;}
}
@keyframes fadeout {
  from {top: 10%; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@-webkit-keyframes fadein-top {
  from {top: 0; opacity: 0;}
  to {top: 10%; opacity: 1;}
}
@keyframes fadein-top {
  from {top: 0; opacity: 0;}
  to {top: 10%; opacity: 1;}
}
@-webkit-keyframes fadeout-top {
  from {top: 10%; opacity: 1;}
  to {top: 0; opacity: 0;}
}
@keyframes fadeout-top {
  from {top: 10%; opacity: 1;}
  to {top: 0; opacity: 0;}
}