body {
    background-color: #F9F8Fa;
    font-family: sans-serif;
}

/* container */
.container {
    max-width: 1260px;
    margin: auto;
    padding: 80px 20px 120px;
}

.content__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.12);
    margin-bottom: 20px;
}
.border-rad-10px {
    border-radius: 10px;
}

.header__container {
    display: flex;
    align-items: center;
    padding: 20px 0;
    width: calc(100vw - 58px);
    /* min-width: 835px; */
    max-width: 1258px;
    border-bottom: 1px solid rgba(0,0,0,0.12);
}

.text__container {
    width: calc(100% - 40px);
    padding: 10px 20px 20px;
}

.table__container {
    width: 100%;
    max-height: 61vh;
    overflow: auto;
}

/* elements */
h1 {
    display: inline-block;
}

p {
    color: #1B2528;
    font-size: clamp(13px, 1.8vw, 16px);
}

input {
    height: 44px;
    width: 320px;
    border: 1px solid rgba(0,0,0,0.44);
    border-radius: 4px;
    padding: 2px 10px;
    margin-left: auto;
    margin-right: 20px;
    font-size: 14px;

}

@media screen and (max-width:900px){
    h1 {
        font-size: 4vw;
    }
    input {
        width: 35vw;
    }
}

.header {
    margin: 0 0 0 20px;
}

img {
    max-width: 100%;
    max-height: 580px;
    align-self: center;
    margin: 20px 0;
}

table {
    border-spacing: 0px;
    color: #1B2528;
    width: 100%;
    font-size: clamp(13px, 1.8vw, 16px);
}

.shadow {
    position: sticky;
    display: block;
    top: auto;
    bottom: 0px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.08) 100%);
    height: 12px
}

thead {
    background-color: white;
    position: sticky;
    top: 0px;
}

/* 일반적인 th, td 셀 스타일 지정 */
th {
    border-bottom: 1px solid rgba(0,0,0,0.12);
    padding: 20px 14px;
    word-break: keep-all;
    font-weight: 400;
    color: #77868B;
    text-align: left;
}
td {
    border-bottom: 1px solid rgba(0,0,0,0.12);
    padding: 14px;
    word-break: keep-all
}

/* 표 좌우 열은 padding 20px */
th:first-child {
    padding-left: 20px;
}
th:last-child {
    padding-right: 20px;
}
td:first-child {
    padding-left: 20px;
}
td:last-child {
    padding-right: 20px;
}

/* Header 정렬 기준열 표시 */
#salary-list th:nth-child(5),
#table2 th:nth-child(6),
#table3 th:nth-child(3),
#table4 th:nth-child(6),
#table5 th:last-child,
#table6 th:nth-child(7),
#table7 th:last-child {
    color: #1B2528;
    font-weight: 600;
}

/* 닉네임 연봉 리스트 width */
#salary-list th:first-child,
#table3 th:first-child, #table3 td:first-child,
#table4 th:first-child, #table4 td:first-child,
#table5 th:first-child, #table5 td:first-child,
#table6 th:first-child, #table6 td:first-child,
#table7 th:first-child, #table7 td:first-child{
    width: 26px;
}
#salary-list th:nth-child(2){
    width: 180px;
}
#salary-list th:nth-child(3){
    width: 120px;
}
#salary-list th:nth-child(4),
#salary-list th:nth-child(5),
#salary-list th:nth-child(6){
    width: 95px;
}
#salary-list th:nth-child(7){
    width: 95px;
}
#salary-list th:nth-child(8){
    width: 300px;
}
#salary-list th:nth-child(9){
    width: 200px;
}
#salary-list th:nth-child(10){
    width: 80px;
}


/* 닉네임 연봉 리스트 정렬 */
#salary-list td:nth-child(1), #salary-list td:nth-child(4), #salary-list td:nth-child(5), #salary-list td:nth-child(6) {
    text-align: end;
}
#salary-list th:nth-child(1), #salary-list th:nth-child(4), #salary-list th:nth-child(5), #salary-list th:nth-child(6) {
    text-align: end;
}

/* 나머지 연봉 기준 테이블들 정렬 */
#table2 th:not(:nth-child(2)), #table2 td:not(:nth-child(2)),
#table3 th:not(:nth-child(2)), #table3 td:not(:nth-child(2)),
#table4 th:not(:nth-child(2)), #table4 td:not(:nth-child(2)),
#table5 th:not(:nth-child(2)), #table5 td:not(:nth-child(2)),
#table6 th:not(:nth-child(2)), #table6 td:not(:nth-child(2)){
    text-align: end;
}
#table7 td:not(:nth-child(2)), #table7 th:not(:nth-child(2)) {
    text-align: center;
}