/*------------------------------------*\
  Components > Content
\*------------------------------------*/

.c-content {
  margin-bottom: double($base-spacing-unit);

  a:not(.c-btn) {
    transition: $global-transition;
    text-decoration: none;
    padding-bottom: 2px;
    background-image: linear-gradient(to bottom, $color-gray 35%, transparent 35%);
    background-position: 0 1.2em;
    background-repeat: repeat-x;
    background-size: 1.5px 1.5px;
    color: $color-brand;

    @include attention() {
      text-decoration: none;
      background-image: linear-gradient(to bottom, $color-link-hover 75%, transparent 75%);
    }
  }
}

.c-text-center {
    text-align: center;
}

.c-text-ltr {
  direction: ltr;
}