/*------------------------------------*\
  Components > Content
\*------------------------------------*/

.c-content {
  a:not(.c-btn) {
    transition: $global-transition;
    text-decoration: none;
    background-image: linear-gradient(to bottom, $color-gray-100 75%, transparent 75%);
    background-position: 0 1.4em;
    background-repeat: repeat-x;
    background-size: 2px 2px;

    @include attention() {
      text-decoration: none;
      color: $color-brand;
      background-image: linear-gradient(to bottom, $color-link-hover 75%, transparent 75%);
    }
  }
}

.c-text-center {
    text-align: center;
}