/*------------------------------------*\
  Components > Header
\*------------------------------------*/

.c-header {
  position: -webkit-sticky; // 사파리 지원
  position: sticky;
  background-color: $color-white;
  border-bottom: 1px solid $color-border;
  z-index: 100;
  top: 0;
  height: 51px;

  &__inner {
    padding: $base-spacing-unit 0 0;
    width: 100%;
  }

  &__icon {
    vertical-align: middle;
  }
}

.progress-container {
  width: 100%;
  height: 2px;
  background-color: $bg-color-gray;
  position: relative;
  top: -3px;
  
  .progress-bar {
      position: relative;
      display: block;
      width: 0%;
      max-width: 100%;
      height: 2px;
      background-color: $color-key;
  }
}