/*------------------------------------*\
  Components > List
\*------------------------------------*/

.c-list {
    margin: 0 auto;
    transition: $global-transition;

    &__item {
        padding: 16px 0;
        list-style: none;
        width: 100%;
        border: 1px solid transparent;
        border-radius: 8px;
        margin: 0 0 20px 0;
        transition: $global-transition;
        &:last-child {
            margin-bottom: ($base-spacing-unit)*3;
        }
        a {
            background-image: none !important;
             :hover {
                background-image: none !important;
            }
        }
    }
    &__type {
        color: $color-key;
        font-size: $font-size-base;
        font-weight: $font-weight-bold;
        padding-bottom: 10px;
        margin: 0;
    }
    &__tag {
        font-size: $font-size-tiny;
        font-weight: $font-weight-bold;
        color: $color-text;
        display: block;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        padding: 20px 10px;
        margin: 10px 0;
        background-color: $bg-color-code;
        border-radius: 10px;
        // box-shadow: 0 8px 16px 0 rgba(0,0,0,0.08);
        @include mq($from: tablet) {
            margin: 10px 0;
        }
    }
    &__info {
        display: inline-block;
        padding: 0 20px;
        transition: $global-transition;
        .c-list__title {
            font-size: $font-size-header;
            font-weight: $font-weight-bold;
            transition: $global-transition;
            display: block;
            line-height: $line-height-header;
            letter-spacing: -0.009em;
            position: relative;
            margin-bottom: half($font-size-tiny);
            @include mq($from: tablet) {
                font-size: double($font-size-small);
            }
        }
        @include mq($from: tablet) {
            display: block;
            width: 100%;
        }
        .c-list__sub {
            font-size: $font-size-base;
            color: $color-gray;
            line-height: $line-height-base;
            margin-bottom: double($font-size-small);
        }
        .c-list__body {
            font-size: $font-size-medium;
            color: $color-gray;
            line-height: $line-height-medium;
            margin-bottom: half($font-size-header);
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        .c-list__date {
            display: block;
            color: $color-gray;
            direction: ltr;
            font-size: $font-size-small;
            font-weight: $font-weight-bold;
            line-height: $line-height-small;
            text-transform: uppercase;
            padding-bottom: half($font-size-header);
        }
    }
    .c-list-draft-message {
        text-align: center;
    }
}

.c-list__item:hover,
.c-list__item:focus {
    a { 
        text-decoration: none;
    }
    .c-list__title {
        color: $color-key;
    }
    cursor: pointer;
    // opacity: .6;
    // transform: translate(10px, -10px);
    // box-shadow: 0px 51px 143px rgba(27, 37, 40, 0.07), 0px 17.9529px 59.582px rgba(27, 37, 40, 0.0347751), 0px 9.97283px 32.3937px rgba(27, 37, 40, 0.024173), 0px 5.49113px 17.8057px rgba(27, 37, 40, 0.0167152), 0px 2.39375px 7.89857px rgba(27, 37, 40, 0.00941464);
    border: 1px solid $color-gray-100;
}

.draft {
    opacity: .6 !important;
    pointer-events: none !important;
}

.c-list__img {
    width: 100%;
    height: 16em;
    // border-radius: .5em;
    // box-shadow: 6px 0 40px 8px rgba(0,0,0,.05);
    object-fit: cover;
    object-position: center;
    padding-bottom: 10px;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    margin-bottom: 10px;
}