/*------------------------------------*\
  Components > Logo
\*------------------------------------*/

.c-logo {
  &__link {
    font-size: $font-size-header;
    font-weight: $font-weight-bolder;
    transition: $global-transition;
    position: relative;
    top: 2px;

    @include attention() {
      color: $color-brand;
      text-decoration: none;
    }
  }
}