/*------------------------------------*\
  Components > Site Navigation
\*------------------------------------*/

.c-nav {
  margin: 0px;

  &__link {
    display: block;
    transition: $global-transition;
    width: max-content;

    &--current {
      color: $color-brand;

      .home-template &:not(:hover) {
        color: $color-link;
      }
    }

    @include attention() {
      color: $color-brand;
      text-decoration: none;
    }
  }
}

.c-nav-list {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;

  li {
  position: relative;
  display: inline-block;
  margin: 0 20px 0 0;
  list-style: none;
  font-size: $font-size-base;

  }
  &:last-child {
    margin-right: 0;
  }
}

.normal {
  color: $color-text;
  font-weight: 500;
  border-style: none;
  padding-bottom: 0;
}

.active {
  color: $color-brand;
  font-weight: 600;
}

.active::before {
  content: "";
  position: absolute;
  top: $line-height-header;
  width: 100%;
  height: 2px;
  background-color: $color-brand;
}