/*------------------------------------*\
  Components > Site Navigation
\*------------------------------------*/

.c-nav {
  &__item {
    font-size: $font-size-header;
    margin-bottom: $base-spacing-unit;
  }

  &__link {
    display: block;
    transition: $global-transition;

    &--current {
      color: $color-brand;

      .home-template &:not(:hover) {
        color: $color-link;
      }
    }

    @include attention() {
      color: $color-brand;
      text-decoration: none;
    }
  }
}