/*------------------------------------*\
  Components > Site Navigation
\*------------------------------------*/

.c-nav {
  &__item {
    font-size: $font-size-header;
    margin-bottom: $base-spacing-unit;
    font-weight: 600;
  }

  &__link {
    display: block;
    transition: $global-transition;
    width: max-content;

    &--current {
      color: $color-brand;

      .home-template &:not(:hover) {
        color: $color-link;
      }
    }

    @include attention() {
      color: $color-brand;
      text-decoration: none;
    }
  }
}

.c-nav-list {
  display: flex;
  flex-direction: row;

  li {
  position: relative;
  display: inline-block;
  margin: 0 20px 0 0;
  list-style: none;
  }
  &:last-child {
    margin-right: 0;
  }
}