/*------------------------------------*\
  Components > Site Navigation
\*------------------------------------*/

.c-nav {
  margin: 0px;

  &__link {
    display: block;
    transition: $global-transition;
    width: max-content;
    padding: 2px 8px;
    border-radius: 4px;

    &--current {
      color: $color-link-hover;

      .home-template &:not(:hover) {
        color: $color-link;
      }
    }

    @include attention() {
      color: $color-brand;
      text-decoration: none;
    }
  }
}

.c-nav-list {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;

  li {
  position: relative;
  display: inline-block;
  margin: 0 10px 0 0;
  list-style: none;
  font-size: $font-size-base;

  }
  li:hover {
    cursor: pointer;
    // opacity: .6;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
        background-color: $bg-color-code;
      }
    }
  }
  
  &:last-child {
    margin-right: 0;
  }

  &__logo {
    margin: 0 10px;

    & img {
      height: 32px;
      transition: all ease .2s;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.normal {
  color: $color-text;
  font-weight: 500;
  border-style: none;
}

.active {
  color: $color-brand;
  font-weight: $font-weight-heavy;
}

.active::before {
  content: "";
  position: absolute;
  top: 42px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: $color-brand;
}