/*------------------------------------*\
  Components > Page
\*------------------------------------*/

.c-page {
  margin: 0 auto;
  max-width: 740px;

  &__title {
    font-size: double($font-size-medium);
    margin-bottom: half($base-spacing-unit);
    font-weight: $font-weight-heavy;

    @include mq($from: tablet) {
      font-size: double($font-size-base);
    }
    
    a {
      transition: $global-transition;
      text-decoration: underline rgba(96, 90, 242, 0.2);
      
      &:hover {
        color: $color-brand;
        text-decoration: underline $color-brand;
      }
    }
  }

  &__subtitle {
    font-size: $font-size-medium;
    margin-bottom: double($base-spacing-unit);
    color: $color-gray;
    font-weight: $font-weight-regular;

    @include mq($from: tablet) {
      font-size: $font-size-base;
    }
  }

  &__type {
    color: $color-key;
    font-size: $font-size-header;
    font-weight: $font-weight-bold;
    padding: 10px 0;
    border-bottom: 1px solid $color-brand;
    margin-bottom: half($base-spacing-unit);
  }

  &__role {
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
  }

  &__keyword {
    color: $color-gray;

    a {
      color: $color-gray;
    }
  }

  &__favicon {
    display: inline;
    height: 15px;
    margin-right: 8px;
    position: relative;
    top: 1px;
  }

  &__pebble {
    display: inline-block !important;
    padding: quarter($base-spacing-unit) $base-spacing-unit;
    margin: 0 half($base-spacing-unit) ($base-spacing-unit) 0 !important;

    font-size: $font-size-small;
    font-family: $font-base;
    line-height: $line-height-medium;

    background-color: $bg-color-gray;
    transition: $global-transition;

    &:hover {
      transform: translateX(4px) translateY(-4px);
      box-shadow: -4px 4px 0 0 $color-key;
    }
    
    @include attention() {
      text-decoration: none;
      background-color: $bg-color-gray;
    }
    

    @include mq($until: tablet) {
      margin-bottom: $line-height-medium - half(quarter($line-height-medium));
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
