/*------------------------------------*\
  Components > Social Navigation
\*------------------------------------*/

.c-social-nav {
  margin: 0;

  &__item {
    display: inline-block;
  }

  &__icon {
    fill: $color-text;
    vertical-align: middle;
    transition: $global-transition;

    @include attention() {
      fill: $color-brand;
    }
  }

  &__title {
    padding-left: 5px;
    font-weight: $font-weight-bold;
    color: $color-gray;
  }

  &__copyright {
    margin: 0 0 0 auto;
    font-size: $font-size-medium;
    color: $color-gray;
  }
}