/*------------------------------------*\
  Components > Table
\*------------------------------------*/

.c-table {
  margin: 0 auto double($base-spacing-unit) auto;
  width: 100%;
  list-style-type: none;
  overflow: auto;

  &__thead {
    font-size: $font-size-header;
    margin-bottom: half($base-spacing-unit);
    font-weight: $font-weight-bold;
    border-bottom: 1px solid $color-border;
  }

  &__tbody {
    font-size: $font-size-medium;
    color: $color-text;
    font-weight: $font-weight-regular;
    margin-left: 0px;
    padding: 12px;
    background-color: $bg-color-gray;
    border-radius: 12px;
    min-width: 500px;
  }

  li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 12px;
  }
}

.company {
  font-size: $font-size-header;
  color: $color-text;
  font-weight: $font-weight-bold;
  width: 30vw;
  min-width: 140px;
  max-width: 240px;
  margin-bottom: 0;
  padding: 10px;
}

.brief {
  width: 70vw !important;
  min-width: 340px;
  max-width: 516px;
  margin-bottom: 0;
  padding: 10px;

  p {
    margin-bottom: 0;
  }
}

.date {
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  line-height: $line-height-small;
  color: $color-gray;
  margin-bottom: 0;
}

.hustle {
  list-style: none;
  margin: 0;

  &__img {
    display: flex;
    min-width: 48px;
    height: 48px;
    margin-right: 20px;

    img {
      max-width: 48px;
      max-height: 48px;
    }
  }

  &__name {
    font-size: $font-size-header;
    color: $color-text;
    font-weight: $font-weight-bold;
  }
}

.hustle .hustle__list {
  display: flex;
  padding: 20px;
  margin: 0 0 20px 0;
  align-items: center;
}