<!DOCTYPE html>
<html lang='ko'>

{% include head.html %}

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PR9V822"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <div>
    {% include header.html %}

    {{ content | replace: '<a href="http', '<a rel="nofollow noopener noreferrer" target="_blank" href="http' }}

    {% include footer.html %}
  </div>
  
  {% include analytics.html %}
  <script src="{{ '/js/jquery-3.1.1.min.js' | prepend: site.baseurl }}"> </script>
  <script src="{{ '/js/evil-icons.min.js' | prepend: site.baseurl }}">   </script>
  <script src="{{ '/js/jquery.fitvids.js' | prepend: site.baseurl }}">   </script>
  <script src="{{ '/js/app.js' | prepend: site.baseurl }}">              </script>
  <script src="{{ '/js/shorten-url.js' | prepend: site.baseurl }}">      </script>
  {% include scroll-animation.html %}
  {% if page.layout == "post" %}
    {% include post-image.html %}
  {% endif %}
</body>

</html>