<!DOCTYPE html>
<html lang='ko'>

{% include head.html %}

<body>

  {% include analytics.html %}

  <div>
    {% include header.html %}

    {{ content | replace: '<a href="http', '<a rel="nofollow noopener noreferrer" target="_blank" href="http' }}

    {% include footer.html %}
  </div>

  <script src="{{ '/js/jquery-3.1.1.min.js' | prepend: site.baseurl }}"> </script>
  <script src="{{ '/js/evil-icons.min.js' | prepend: site.baseurl }}">   </script>
  <script src="{{ '/js/jquery.fitvids.js' | prepend: site.baseurl }}">   </script>
  <script src="{{ '/js/app.js' | prepend: site.baseurl }}">              </script>
  <script src="{{ '/js/shorten-url.js' | prepend: site.baseurl }}">      </script>

</body>

</html>