---
layout: default
---

{% if page.header-img %}
  <img src='{{ page.header-img | prepend: site.baseurl }}' class='c-post__header-img' alt='{{ page.title }}'>
{% endif %}

<div class='o-grid'>
  <div class='o-grid__col o-grid__col--full'>
    <article class='c-post'>
      <p class="c-post__type">{{ page.type }}</p>

      <h1 class='c-post__title u-text-left'>{{ page.title }}</h1>

      <p class='c-post__subtitle u-text-left'>{{ page.subtitle }}</p>

      <hr style='visibility: hidden;'>
      
      <div class='c-content'>
        {{ content }}
      </div>
    </article>
  </div>
</div>