---
layout: default
---

{% include base_path %}

{% if page.image %}
  <meta itemprop='og:image' content='{{ base_path }}{{ page.image }}'>
{% endif %}

<div class='o-wrapper'>
  {% if page.header-img %}
    <img src="{{ page.header-img }}" class="c-post__header-img" alt="{{ page.title }}">
  {% endif %}
  <div class='o-grid'>
    <div class='o-grid__col'>
      <article class='c-post' itemscope itemtype='http://schema.org/BlogPosting'>

        <p class="c-post__type">{{ page.type }}</p>

        <h1 class='c-post__title u-text-left'>{{ page.title }}</h1>

        <p class='c-post__subtitle u-text-left'>{{ page.subtitle }}</p>

        <time class='c-post__date' datetime='{{ page.date | date_to_xmlschema }}' itemprop='datePublished'>{{ page.date | date: '%d %b %Y' }}</time>

        <hr>
        
        <div class='c-content' itemprop='articleBody'>
          {% include page-image.html %}

          {{ content }}
        </div>

        <div class='c-tags'>
          {% for tag in page.tags %}
            <a href='#'>{{ tag }}</a>
            <!--<a href='{{ site.baseurl }}/tag/{{ tag }}'>{{ tag }}</a>-->
          {% endfor %}
        </div>
        
        <!--previous and next posts 구 버전-->
        <hr style="visibility:hidden;">
          <ul class="pager">
            {% if page.previous.url %}
            <li class="previous">
              <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">
              👈 이전 글<br>
              <span>{{page.previous.title}}</span>
              </a>
            </li>
            {% endif %}
            {% if page.next.url %}
            <li class="next">
              <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">
              다음 글 👉<br>
              <span>{{page.next.title}}</span>
              </a>
            </li>
            {% endif %}
          </ul>

        <!--previous and next posts 신 버전-->
        <hr style="visibility:hidden;">
        <ul class="pager">         
          {% assign sorted = site.pages | sort: 'order' | reverse %}
          {% if page.blog %}
          {% endif %}
          {% assign prev_post = page.order | minus: 1 %}
          {% assign next_post = page.order | plus: 1 %}
          {% for pages in sorted %}
            {% if page.order == prev_post %}
              {% assign prev == page %}
            {% endif %}
            {% if page.order == next_post %}
              {% assign next == page %}
            {% endif %}
          {% endfor %}
          {% if prev %}
            <li class="previous">
              <a href="{{ prev.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{prev.title}}">
              👈 이전 글<br>
              <span>{{prev.title}}</span>
              </a>
            </li>
          {% endif %}
          {% if next %}
            <li class="next">
              <a href="{{ next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{next.title}}">
              다음 글 👉<br>
              <span>{{next.title}}</span>
              </a>
            </li>
          {% endif %}
        </ul>
        
        <!--disqus-->
        {% unless page.about == true %}
        <hr>
          {% include disqus.html %}
        {% endunless %}
      </article>
    </div>
  </div>
</div>
