---
layout: default
---

<!--
<div class='o-wrapper'>

  <div class='o-grid'>
    <div class='o-grid__col'>
      <div class='c-tags'>
        <a href='{{ site.baseurl }}/tag/{{ tag }}'>{{ page.tag }}</a>
      </div>
    </div>
  </div>

  <div class='o-grid'>
    {% for post in page.posts %}
      {% include post-card.liquid %}
    {% endfor %}
  </div>

  <div class='o-grid'>
    {% include pagination.html %}
  </div>
</div>
-->

{% for tag in site.tags %}
{% assign t = tag | first %}
{% assign posts = tag | last %}

<h2>#</h2>
<ul>
  {% for post in posts %}
  {% if post.tags contains t %}
  <li>
    <a href=""></a>
    <span class="post-meta"></span>
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endfor %}